[Unit]
Description=Starts airlog
After=weston.service
Requires=weston.service
BindsTo=weston.service

[Service]
Type=simple
User=root
Group=root

Environment=XDG_RUNTIME_DIR=/run
Environment=WAYLAND_DISPLAY=wayland-0
Environment=QT_QPA_PLATFORM=wayland


ExecStartPre=/bin/sh -c 'until [ -S $XDG_RUNTIME_DIR/$WAYLAND_DISPLAY ]; do sleep 0.1; done'
ExecStart=/usr/bin/airlog
WorkingDirectory=/usr/bin

Restart=always
RestartSec=5

StartLimitIntervalSec=0

[Install]
WantedBy=multi-user.target
